body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    display:flex;
    padding-inline-start: 0px;
    gap: 25px;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


.links {
    list-style-type: none;
}

.links:hover {
    text-decoration: underline;
}

.hero {
    display:flex;
    justify-content:space-around;
    padding: 50px;
}

.hero-left {
   max-width: 25vw;
   margin: 50px;
}

.hero-right {
    align-self: center;
    margin: 50px;
}

.hero-image {
    border: none;
    width: 400px;
    height:auto;
    border-radius: 0px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color:#1F2937;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 25px;    
}

.card-image {
    height: 120px;
    width: 120px;
    border: 3px #3882F6;
    border-style: solid;
    border-radius: 8px;
    align-self: center;
}

.text {
    font-size: 14px;
    color:#1F2937;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 75px;
}

.links,
.hero-left {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.signup {
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: center;
    width: 120px;
    transition-duration: 0.4s;
}

.signup:hover {
    background-color:#F9FAF8;
    color:#3882F6;
}

.inspire {
    background-color:#E5E7EB;
    color:#1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.quote {
    font-size: 31px;
    font-style: italic;
    flex-wrap: wrap;
    align-self: center;
    max-width: 650px;
}

.signature {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}

.action {
    display: flex;
    background-color: #3882F6;
    color:#F9FAF8;
    margin: 75px 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 25px;
}

.call-signup {
    color:#F9FAF8;
    background-color:#3882F6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    border-color:#F9FAF8;
    border-style:solid;
    padding: 10px;
    width: 120px;
    transition-duration: 0.4s;
}

.call-signup:hover {
    background-color: #F9FAF8;
    color:#3882F6;
}

.footer {
    font-size: 18px;
    color:#E5E7EB;
    text-align: center;
    padding: 8px;
}

